<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">


	<servlet>
		<servlet-name>adding</servlet-name>
		<servlet-class>com.drag.DemoServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>adding</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>squaring</servlet-name>
		<servlet-class>com.drag.SquareServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>squaring</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>
</web-app>